In [10]:
year = 2023
#write the desired workout days here to generate a schedule
weekly_workout_days = ["Tuesday", "Thursday"]

In [11]:
day_initials = ""
for day in weekly_workout_days:
    day_initials += day[:2] 
workout_freq = len(weekly_workout_days)
day_initials

'TuTh'

In [12]:
import datetime  
from datetime import date
import calendar
import pandas as pd

def findDay(date):
    month, day, year = (int(part) for part in date.split('-'))     
    born = datetime.date(year, month, day) 
    return born.strftime("%A")

In [13]:
if (year % 100 and year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    feb_last = 29
else:
    feb_last = 28

small_months = ["04", "06", "09", "11"]
big_months = ["01", "03", "05", "07", "08", "10", "12"]
months_lst = small_months + big_months + ["02"]
months_lst.sort()
months = {}
for key in months_lst:
    if key in small_months:
        months[key] = 30
    elif key in big_months:
        months[key] = 31
    else:
        months[key] = feb_last

all_year_days = months
for month_key in months:
    days = []
    for day_index in range(1, months[month_key] + 1):
        days.append(month_key + "-" + str(day_index) +  "-" + str(year))
    all_year_days[month_key] = days

In [14]:
yearly_workout_days = all_year_days

for month_key in all_year_days:
    days = []
    for day in all_year_days[month_key]:
        if findDay(day) in weekly_workout_days:
            days.append(day)
    yearly_workout_days[month_key] = days

In [15]:
all_months = [yearly_workout_days[month] for month in yearly_workout_days]
desired_days_df = pd.DataFrame(list(all_months)).transpose()
desired_days_df.columns = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
desired_days_df

,January,February,March,April,May,June,July,August,September,October,November,December
0,01-3-2023,02-2-2023,03-2-2023,04-4-2023,05-2-2023,06-1-2023,07-4-2023,08-1-2023,09-5-2023,10-3-2023,11-2-2023,12-5-2023
1,01-5-2023,02-7-2023,03-7-2023,04-6-2023,05-4-2023,06-6-2023,07-6-2023,08-3-2023,09-7-2023,10-5-2023,11-7-2023,12-7-2023
2,01-10-2023,02-9-2023,03-9-2023,04-11-2023,05-9-2023,06-8-2023,07-11-2023,08-8-2023,09-12-2023,10-10-2023,11-9-2023,12-12-2023
3,01-12-2023,02-14-2023,03-14-2023,04-13-2023,05-11-2023,06-13-2023,07-13-2023,08-10-2023,09-14-2023,10-12-2023,11-14-2023,12-14-2023
4,01-17-2023,02-16-2023,03-16-2023,04-18-2023,05-16-2023,06-15-2023,07-18-2023,08-15-2023,09-19-2023,10-17-2023,11-16-2023,12-19-2023
5,01-19-2023,02-21-2023,03-21-2023,04-20-2023,05-18-2023,06-20-2023,07-20-2023,08-17-2023,09-21-2023,10-19-2023,11-21-2023,12-21-2023
6,01-24-2023,02-23-2023,03-23-2023,04-25-2023,05-23-2023,06-22-2023,07-25-2023,08-22-2023,09-26-2023,10-24-2023,11-23-2023,12-26-2023
7,01-26-2023,02-28-2023,03-28-2023,04-27-2023,05-25-2023,06-27-2023,07-27-2023,08-24-2023,09-28-2023,10-26-2023,11-28-2023,12-28-2023
8,01-31-2023,None,03-30-2023,None,05-30-2023,06-29-2023,None,08-29-2023,None,10-31-2023,11-30-2023,None
9,None,None,None,None,None,None,None,08-31-2023,None,None,None,None

In [16]:
desired_days_df.to_csv(path_or_buf = str(year) + "_" + day_initials + "_Workout_Days.csv")

In [17]:
day_count = 0
for month in yearly_workout_days:
    day_count += len(yearly_workout_days[month])
day_count

104